@model BiuroPodrozyApp.Models.Wycieczka

@{
    ViewData["Title"] = "Szczegóły wycieczki";
}

<h1>Szczegóły wycieczki</h1>

<div>
    <h4>Wycieczka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Rezerwuj" asp-route-id="@Model?.Id" class="btn btn-primary">Zarezerwuj</a> |
    <a asp-action="Index" class="btn btn-primary">Wróć</a>
</div>
